#banner
	.banner_content
		%h1 File Cabinet
		%p Your life's work. Organized always.
		%button= link_to 'Enter', new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Listicle four loko cred cray, pour-over slow-carb butcher pork belly bushwick heirloom distillery fingerstache cliche gochujang kitsch. Authentic 8-bit sustainable kickstarter, health goth pour-over mlkshk +1 celiac kale chips shoreditch heirloom sartorial schlitz chicharrones. IPhone whatever waistcoat, pickled skateboard gastropub tilde cornhole humblebrag locavore tote bag ugh ramps 3 wolf moon schlitz. Bespoke cred neutra actually. Bicycle rights food truck keffiyeh health goth, lomo pork belly single-origin coffee. Leggings pabst green juice mixtape, quinoa hella cray waistcoat keffiyeh food truck. Tousled tote bag celiac echo park, waistcoat umami fashion axe yr aesthetic franzen pop-up cray you probably haven't heard of them slow-carb bushwick.

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to 'Join Now', new_user_registration_path